/INSTALL
/Makefile
/Makefile.in
/aclocal.m4
/apertium-mar.pc
/autom4te.cache
/config.log
/config.status
/configure
/install-sh
/missing
/*.bin
/*.hfst
/*.gz
/*.zhfst
/.DS_Store
/ap_include.am
/modes
/*.mode
/*-*.prob
/.deps
/config.in
/config
/test/*-output.txt
