* text=auto !eol
/AUTHORS -text
/COPYING -text
/ChangeLog -text
/Makefile.am -text
/NEWS -text
/README -text
/apertium-mar.mar.acx -text
/apertium-mar.mar.dix -text
/apertium-mar.mar.rlx -text
/apertium-mar.pc.in -text
/apertium-mar.post-mar.dix -text
/autogen.sh -text
/configure.ac -text
dev/apertium-mar.mar.dix -text
dev/wx2utf8 -text
/mar.prob -text svneol=unset#unset
/modes.xml -text
