* text=auto !eol
/AUTHORS -text
/COPYING -text
/ChangeLog -text
/Makefile.am -text
/NEWS -text
/README -text
/apertium-mar.mar.acx -text
/apertium-mar.mar.dix -text
/apertium-mar.mar.rlx -text
/apertium-mar.pc.in -text
/apertium-mar.post-mar.dix -text
/autogen.sh -text
/configure.ac -text
dev/apertium-mar.mar.dix -text
dev/translit/Makefile -text
dev/translit/mar.lexc -text
dev/translit/mar.twol -text
dev/wx2utf8 -text
eval/Makefile -text
eval/errors.txt -text
eval/evaluate-morph.py -text
eval/ref.1000.txt -text svneol=unset#application/octet-stream
eval/src.1000.txt -text svneol=unset#application/octet-stream
/mar.prob -text svneol=unset#unset
/modes.xml -text
seg/Makefile -text
seg/mar.1.dix -text
seg/mar.2.dix -text
texts/puupankki/puupankki.mar.conllu -text
texts/story.vislcg.txt -text
